@use '/src/styles/constants/colors';

.basicInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid colors.$GRAY3;
  border-radius: 10px;
}

.emailWrapper {
  display: flex;
  gap: 5px;
}

.userCreatedAt {
  text-align: right;
}
