@use '/src/styles/constants/colors';

.commentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.commentBottomWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.likeCountWrapper {
  display: flex;
  gap: 5px;
  align-items: center;

  .liekCountText {
    font-size: small;
  }
}

.reCommentButton {
  display: flex;
  align-items: center;
  margin-right: auto;
  transition: 0.3s;

  &:hover {
    scale: 1.05;
  }
}

.reCommentIcon {
  width: 20px;
  height: 20px;
  fill: colors.$WHITE;
  stroke: colors.$GRAY3;
  transition: 0.3s;

  &:hover {
    fill: colors.$GRAY3;
    stroke: colors.$WHITE;
  }
}

.isViewModalIcon {
  fill: colors.$GRAY3;
  stroke: colors.$WHITE;
}

.svgIcon {
  width: 10px;
  height: 10px;
  fill: colors.$GRAY3;
  stroke: colors.$WHITE;
  transition: 0.3s;
}

.toggleLike {
  fill: colors.$WHITE;
}
