@use '/src/styles/constants/colors';

.postContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 80vh;
  padding: 20px;
  color: colors.$WHITE;
  background-color: colors.$GRAY3;
  border-radius: 20px;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: x-large;
  text-align: center;
}

.postVersusWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  width: 100%;
}

.versusWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  color: colors.$WHITE;
  transition: 0.2s;

  &:hover {
    scale: 1.05;
  }
}

.versusText {
  font-size: larger;
}

.countWrapper {
  display: flex;
  gap: 10px;
}

.postDescription {
  font-size: large;
  line-height: 20px;
}

.likeButton {
  display: flex;
  gap: 5px;
  padding: 10px;
  margin-top: auto;
  margin-right: auto;
  color: colors.$WHITE;
  border: 2px solid colors.$WHITE;
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    scale: 1.05;
  }
}

.svgIcon {
  width: 15px;
  height: 15px;
  fill: colors.$GRAY3;
  stroke: colors.$WHITE;
}

.toggleLike {
  fill: colors.$WHITE;
}
