@use '/src/styles/constants/colors';

.postInfoListWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid colors.$GRAY3;
  border-radius: 10px;
}

.myPostText {
  font-size: large;
}

.postInfoListGridContainer {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
