@use '/src/styles/constants/colors';

.input {
  width: 100%;
  padding: 10px;
  border: 2px solid colors.$GRAY3;
  border-radius: 10px;
}

.errorInput {
  border-color: colors.$RED;
}

.errorText {
  color: colors.$RED;
}
