@use '/src/styles/constants/colors';

.submitButton {
  padding: 10px;
  color: colors.$GRAY3;
  background-color: colors.$WHITE;
  border: 2px solid colors.$GRAY3;
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    color: colors.$WHITE;
    background-color: colors.$GRAY3;
  }
}
