@use '/src/styles/constants/colors';

.postWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  color: colors.$WHITE;
  background-color: colors.$GRAY3;
  border-radius: 20px;

  &:hover {
    scale: 1.01;
    transition: 0.3s;
  }
}

.postTitle {
  font-size: x-large;
}

.contentInfo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .versusText {
    display: -webkit-box;
    height: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .countInfo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;

    .countWrapper {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      font-size: xx-small;

      .svgIcon {
        width: 10px;
        height: 10px;
        fill: colors.$GRAY3;
        stroke: colors.$WHITE;
      }
    }
  }

  .uploadInfo {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    margin-left: auto;
    font-size: xx-small;
  }
}
