@use '/src/styles/constants/colors';

.writeButtonWrpper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: colors.$WHITE;
  border: 2px solid colors.$GRAY3;
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    scale: 1.05;
  }
}

.svgIcon {
  width: 15px;
  height: 15px;
  fill: colors.$GRAY3;
  stroke: colors.$WHITE;
}
