@use '/src/styles/constants/colors';

.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .imageBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
    border: 2px solid colors.$GRAY3;
    border-radius: 10px;

    &::after {
      margin-bottom: 100%;
      content: '';
    }
  }
}
