@use '/src/styles/constants/colors';

.layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: colors.$WHITE;
}

.header {
  .logo {
    font-size: xx-large;
    font-weight: bold;
    color: colors.$GRAY3;
    text-decoration: none;
  }
}

.navBar {
  margin-left: auto;
}

.profile {
  padding: 5px;
  color: colors.$GRAY3;
}
