@use '/src/styles/constants/colors';

.layout {
  padding: 20px;
  background-color: colors.$WHITE;
}

.header {
  margin-bottom: 40px;

  .logo {
    font-size: xx-large;
    font-weight: bold;
    color: colors.$GRAY3;
    text-decoration: none;
  }
}

.authButton {
  padding: 5px;
  border: 2px solid colors.$GRAY3;
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    scale: 1.05;
  }
}
