@use '/src/styles/constants/colors';

.layout {
  padding: 20px;
  background-color: colors.$WHITE;
}

.header {
  margin-bottom: 40px;

  .logo {
    font-size: xx-large;
    font-weight: bold;
    color: colors.$GRAY3;
  }
}
